[run]
branch = True
omit =
    */templates/allauth/*
    */users/*
    config/*
    marnies_maintenance_manager/contrib/sites/migrations/0003_set_site_domain_and_name.py
    merge_production_dotenvs_in_dotenv.py

[report]
show_missing = True
fail_under = 100
