.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.venv
.git
.envs/
.mypy_cache
htmlcov/
**/__pycache__/
.ipython/
.ruff_cache/
.pytest_cache/
