alabaster==1.0.0
annotated-types==0.7.0
ansible==11.6.0
ansible-core==2.18.6
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
astroid==3.3.10
asttokens==3.0.0
attrs==25.3.0
Authlib==1.6.0
babel==2.17.0
beautifulsoup4==4.13.4
black==25.1.0
build==1.2.2.post1
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
coverage==7.8.2
crispy-bootstrap5==2025.4
cryptography==45.0.3
cssbeautifier==1.15.4
darglint2==1.8.2
decorator==5.2.1
dill==0.4.0
distlib==0.3.9
Django==5.2.1
django-allauth==65.8.1
django-anymail==13.0
django-coverage-plugin==3.1.0
django-crispy-forms==2.4
django-debug-toolbar==5.2.0
django-environ==0.12.0
django-extensions==4.1
django-fastdev==1.13.0
django-model-utils==5.0.0
django-private-storage==3.1.1
django-stubs==5.2.0
django-stubs-ext==5.2.0
django-zen-queries==2.1.0
djangorestframework==3.16.0
djlint==1.36.4
docutils==0.21.2
dparse==0.6.4
EditorConfig==0.17.0
execnet==2.1.1
executing==2.2.0
factory_boy==3.3.3
Faker==37.3.0
fido2==2.0.0
filelock==3.16.1
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
icecream==2.1.4
identify==2.6.12
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
ipdb==0.13.13
ipython==9.2.0
ipython_pygments_lexers==1.1.1
isort==6.0.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jsbeautifier==1.15.4
json5==0.12.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==4.0.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mitogen==0.3.24
MouseInfo==0.1.3
mypy==1.15.0
mypy_extensions==1.1.0
nltk==3.9.1
nodeenv==1.9.1
outcome==1.3.0.post0
packaging==25.0
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.2.1
pip-tools==7.4.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
prompt_toolkit==3.0.51
psutil==6.1.1
psycopg==3.2.9
psycopg-c==3.2.9
ptyprocess==0.7.0
pure_eval==0.2.3
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
PyGetWindow==0.0.9
Pygments==2.19.1
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
PyMsgBox==1.0.9
pyperclip==1.9.0
pyproject_hooks==1.2.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.3.5
pytest-django==4.11.1
pytest-mock==3.14.1
pytest-order==1.3.0
pytest-sugar==1.0.0
pytest-xdist==3.7.0
pytest_screenshot_on_failure==1.0.0
python-magic==0.4.27
python-slugify==8.0.4
python3-xlib==0.15
pytweening==1.2.0
PyYAML==6.0.2
qrcode==8.2
regex==2024.11.6
requests==2.32.3
resolvelib==1.0.1
rich==14.0.0
roman-numerals-py==3.1.0
ruamel.yaml==0.18.12
ruamel.yaml.clib==0.2.12
ruff==0.11.12
safety==3.5.1
safety-schemas==0.0.14
selenium==4.33.0
sentry-sdk==2.29.1
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
Sphinx==8.2.3
sphinx-autobuild==2024.10.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.47.0
tenacity==9.1.2
termcolor==3.1.0
text-unidecode==1.3
tomlkit==0.13.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typeguard==4.4.2
typer==0.16.0
types-PyYAML==6.0.12.20250516
types-requests==2.32.0.20250515
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
virtualenv==20.31.2
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.9.0
wsproto==1.2.0
