{% extends 'base.html' %}

{% block title %}
  Agents
{% endblock title %}
{% block content %}
  <h1>Agents</h1>
  <p>This page contains a list of Property Agents registered in the system.</p>
  <p>You can click on the Property Agent to see the Maintenance Jobs that each of them registered.</p>
  <p>
    This is meant to simulate the idea that each Agent (and the company they represent) has their own "spreadsheet."
  </p>
  <ul id="agent_list">
    {% for agent in agent_list %}
      <li>
        <a href="{% url 'jobs:job_list' %}?agent={{ agent.username }}">{{ agent.username }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
