{% extends 'base.html' %}

{% block title %}
  Maintenance Jobs
{% endblock title %}
{% block content %}
  <h1>Maintenance Jobs</h1>
  <a href="{% url 'jobs:job_create' %}" class="create-link">Create Maintenance Job</a>
  <table id="id_list_table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Address</th>
        <th>GPS Link</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for job in job_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ job.date|date:"Y-m-d" }}</td>
          <td>{{ job.address_details }}</td>
          <td>
            <a href="{{ job.gps_link }}">GPS</a>
          </td>
          <td>{{ job.quote_request_details }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
