{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  <h1>{{ title }}</h1>
  {% if request.user.is_agent %}
    <a href="{% url 'jobs:job_create' %}" class="create-link">Create Maintenance Job</a>
  {% endif %}
  <p>Click on the number in each row to go to the Job details.</p>
  <table id="id_list_table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Address Details</th>
        <th>GPS Link</th>
        <th>Quote Request Details</th>
        <th>Date of Inspection</th>
        <th>Quote</th>
      </tr>
    </thead>
    <tbody>
      {% for job in job_list %}
        <tr>
          <td>
            <a href="{{ job.get_absolute_url }}">{{ job.number }}</a>
          </td>
          <td>{{ job.date|date:"Y-m-d" }}</td>
          <td>{{ job.address_details }}</td>
          <td>
            <a href="{{ job.gps_link }}">GPS</a>
          </td>
          <td>{{ job.quote_request_details }}</td>
          <td>{{ job.date_of_inspection|date:"Y-m-d" }}</td>
          <td>
            {% if job.quote %}<a href="{{ job.get_quote_download_url }}">Download Quote</a>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if request.user.is_marnie and job_list.count == 0 %}
    There are no Maintenance Jobs for {{ agent_username }}. {{ agent_username }} needs to log in and create a new Maintenance Job before anything will appear here.
  {% endif %}
{% endblock content %}
