{% extends 'base.html' %}

{% block title %}
  Maintenance Job Details
{% endblock title %}
{% block content %}
  <h1>Maintenance Job Details</h1>
  <!-- Show the initial fields that always get displayed -->
  <p>
    <strong>Number:</strong> {{ job.number }}
  </p>
  <p>
    <strong>Date:</strong> {{ job.date|date:"Y-m-d" }}
  </p>
  <p>
    <strong>Address Details:</strong> {{ job.address_details }}
  </p>
  <p>
    <strong>GPS Link:</strong> <a href="{{ job.gps_link }}">GPS</a>
  </p>
  <p>
    <strong>Quote Request Details:</strong> {{ job.quote_request_details }}
  </p>
  <!-- Show the "Date of Inspection" field if it exists -->
  {% if job.date_of_inspection %}
    <p>
      <strong>Date of Inspection:</strong> {{ job.date_of_inspection|date:"Y-m-d" }}
    </p>
  {% endif %}
  <!-- Show the "Download Quote" link if a quote exists -->
  {% if job.quote %}
    <p>
      <strong>Quote:</strong> <a href="{{ job.get_quote_download_url }}">Download Quote</a>
    </p>
  {% endif %}
  <!-- Display the "Update" link if our backend wants it -->
  {% if update_link_present %}
    <a href="{% url 'jobs:job_update' pk=job.pk %}">Update</a>
  {% endif %}
  <!-- Display the "Refuse Quote" button if our backend wants it -->
  {% if refuse_quote_button_present %}
    <form action="{% url 'jobs:refuse_quote' pk=job.pk %}" method="post">
      {% csrf_token %}
      <button type="submit">Refuse Quote</button>
    </form>
  {% endif %}
{% endblock content %}
