{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  <h1>{{ title }}</h1>
  {% if request.user.is_agent %}
    <a href="{% url 'jobs:job_create' %}" class="create-link">Create Maintenance Job</a>
  {% endif %}
  <p>Click on the number in each row to go to the Job details.</p>
  <table id="id_list_table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Address Details</th>
        <th>GPS Link</th>
        <th>Quote Request Details</th>
      </tr>
    </thead>
    <tbody>
      {% for job in job_list %}
        <tr>
          <td>
            <a href="{{ job.get_absolute_url }}">{{ forloop.counter }}</a>
          </td>
          <td>{{ job.date|date:"Y-m-d" }}</td>
          <td>{{ job.address_details }}</td>
          <td>
            <a href="{{ job.gps_link }}">GPS</a>
          </td>
          <td>{{ job.quote_request_details }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
