{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
  {{ title }}
{% endblock title %}
{% block content %}
  <h1>{{ title }}</h1>
  {% if request.user.is_agent %}
    <a href="{% url 'jobs:job_create' %}"
       class="btn btn-primary mb-3"
       role="button">Create Maintenance Job</a>
    {# Only show the export button to the agent if there are any jobs for the agent #}
    {% if job_list.count > 0 %}
      <a href="{% url 'jobs:agent_export_jobs_to_spreadsheet_view' pk=request.user.id %}"
         class="btn btn-secondary mb-3"
         id="export-to-spreadsheet-button"
         role="button">Export to Spreadsheet</a>
    {% endif %}
  {% endif %}
  {% if job_list.count > 0 %}<p>Click on the number in each row to go to the Job details.</p>{% endif %}
  <div class="table-responsive">
    <table id="id_list_table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Address Details</th>
          <th>GPS Link</th>
          <th>Quote Request Details</th>
          <th>Date of Inspection</th>
          <th>Quote</th>
          <th>Accept or Reject A/R</th>
          <th>Deposit POP</th>
          <th>Job Date</th>
          <th>Photos</th>
          <th>Invoice</th>
          <th>Comments on the job</th>
          <th>Final Payment POP</th>
          <th>Job Complete</th>
        </tr>
      </thead>
      <tbody>
        {% for job in job_list %}
          <tr>
            <td>
              <a href="{{ job.get_absolute_url }}">{{ job.number }}</a>
            </td>
            <td>{{ job.date|date:"Y-m-d" }}</td>
            <td>{{ job.address_details }}</td>
            <td>
              <a href="{{ job.gps_link }}">GPS</a>
            </td>
            <td>{{ job.quote_request_details }}</td>
            <td>{{ job.date_of_inspection|date:"Y-m-d" }}</td>
            <td>
              {% if job.quote %}<a href="{{ job.quote.url }}">Download Quote</a>{% endif %}
            </td>
            <td>
              {% if job.accepted_or_rejected %}{{ job.accepted_or_rejected|to_char }}{% endif %}
            </td>
            <td>
              {% if job.deposit_proof_of_payment %}<a href="{{ job.deposit_proof_of_payment.url }}">Download POP</a>{% endif %}
            </td>
            <td>{{ job.job_onsite_work_completion_date|date:"Y-m-d" }}</td>
            <td>
              {% for photo in job.job_completion_photos.all %}
                <a href="{{ photo.photo.url }}">Download Photo {{ forloop.counter }}</a>
              {% endfor %}
            </td>
            <td>
              {% if job.invoice %}<a href="{{ job.invoice.url }}">Download Invoice</a>{% endif %}
            </td>
            <td>{{ job.comments }}</td>
            <td>
              {% if job.final_payment_pop %}<a href="{{ job.final_payment_pop.url }}">Download Final Payment POP</a>{% endif %}
            </td>
            <td>{{ job.complete|yesno:"Yes,No" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if request.user.is_manie and job_list.count == 0 %}
    There are no Maintenance Jobs for {{ agent_username }}. {{ agent_username }} needs to log in and create a new Maintenance Job before anything will appear here.
  {% endif %}
{% endblock content %}
