{% extends 'base.html' %}

{% block title %}
  Maintenance Jobs
{% endblock title %}
{% block content %}
  <h1>Maintenance Jobs</h1>
  <a href="{% url 'jobs:job_create' %}">Create Maintenance Job</a>
  <table id="id_list_table">
    {% for job in job_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ job.date|date:"Y-m-d" }}</td>
        <td>{{ job.address_details }}</td>
        <td>{{ job.gps_link }}</td>
        <td>{{ job.quote_request_details }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
