{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Update Quote
{% endblock title %}
{% block content %}
  <h1>Update Quote</h1>
  <form method="post" enctype="multipart/form-data" id="updateQuoteForm">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" id="updateQuoteButton">Update Quote</button>
  </form>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      handleFormSubmission('updateQuoteForm', 'updateQuoteButton');
    });
  </script>
{% endblock content %}
