{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="main-content">
      <h1>About Us</h1>
      <p>
        The idea behind this website is to function like an interactive spreadsheet for each property agent, allowing both Marnie and the agents to track and manage each job in a row of the spreadsheet.
      </p>
      <p>
        The purpose of this "spreadsheet" is to assist Marnie and property developers with arranging maintenance and repairs to homes. It helps in documenting and tracking the full lifecycle of a property maintenance job, including:
      </p>
      <ul>
        <li>Initial callout, inspection, and quote</li>
        <li>Acceptance of the quote, details of the completed job, invoice, and proof of payment</li>
        <li>Upload, storage, and retrieval of relevant PDF files</li>
        <li>Emailing of relevant parties as a maintenance job is submitted or progresses further</li>
      </ul>
    </div>
  </div>
{% endblock content %}
