{% extends "base.html" %}

{% block content %}
  <p>Use this document as a way to quick start any new project.</p>
  {% if userinfo.has_no_admin_users %}<p>{{ warnings.NO_ADMIN_USERS }}</p>{% endif %}
  {% if request.user.is_superuser %}
    {% if userinfo.has_many_admin_users %}<p>{{ warnings.MANY_ADMIN_USERS }}</p>{% endif %}
    {% if userinfo.has_no_marnie_users %}<p>{{ warnings.NO_MARNIE_USERS }}</p>{% endif %}
    {% if userinfo.has_many_marnie_users %}<p>{{ warnings.MANY_MARNIE_USERS }}</p>{% endif %}
    {% if userinfo.has_no_agent_users %}<p>{{ warnings.NO_AGENT_USERS }}</p>{% endif %}
    {% for user in userinfo.users_with_no_email_address %}
      <p>WARNING: User {{ user.username }} has no email address.</p>
    {% endfor %}
    {% for user in userinfo.users_with_no_validated_email_address %}
      <p>WARNING: User {{ user.username }} has not validated their email address.</p>
    {% endfor %}
  {% endif %}
{% endblock content %}
