{% extends "base.html" %}

{% block content %}
  <p>Welcome to Manie's Maintenance Manager!</p>
  {% if not request.user.is_authenticated %}
    <p>Please Sign In to the system to book a home visit by Manie.</p>
    <p>If you don't have an account yet, then please Sign Up!</p>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% if request.user.is_manie %}
      <p>
        Welcome back, Manie. You can click on the "Agents" link above, to see the per-Agent listing of Maintenance Jobs, aka their "spreadsheets."
      </p>
    {% elif request.user.is_agent %}
      <p>
        Welcome back. You can click the "Maintenance Jobs" link above, to see the list of Maintenance Visits scheduled for Manie.
      </p>
    {% else %}
      <p>You're signed in to this website, but we don't know who you are!</p>
      <p>If you're a property agent, then please contact Manie so that this website can be setup for you!</p>
    {% endif %}
  {% endif %}
  {% if userinfo.has_no_admin_users %}<p>{{ warnings.NO_ADMIN_USERS }}</p>{% endif %}
  {% if request.user.is_superuser %}
    {% if userinfo.has_many_admin_users %}<p>{{ warnings.MANY_ADMIN_USERS }}</p>{% endif %}
    {% if userinfo.has_no_manie_users %}<p>{{ warnings.NO_MANIE_USERS }}</p>{% endif %}
    {% if userinfo.has_many_manie_users %}<p>{{ warnings.MANY_MANIE_USERS }}</p>{% endif %}
    {% if userinfo.has_no_agent_users %}<p>{{ warnings.NO_AGENT_USERS }}</p>{% endif %}
    {% for user in userinfo.users_with_no_email_address %}
      <p>WARNING: User {{ user.username }} has no email address.</p>
    {% endfor %}
    {% for user in userinfo.users_with_no_verified_email_address %}
      <p>WARNING: User {{ user.username }} has not verified their email address.</p>
    {% endfor %}
    {% for user in userinfo.users_with_no_primary_email_address %}
      <p>WARNING: User {{ user.username }} has no primary email address.</p>
    {% endfor %}
    {% for user in userinfo.users_with_primary_verified_email_mismatch %}
      <p>WARNING: User {{ user.username }}'s email address does not match the verified primary email address.</p>
    {% endfor %}
  {% endif %}
{% endblock content %}
